/* st.css */

* {
	font-family: 'Michroma', sans-serif;
}

p {
	font-family: 'Michroma', sans-serif;
}

body {
	margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Michroma', sans-serif;
	text-transform: uppercase;
}

label {
	font-family: 'Michroma', sans-serif;
}

h1 {
	font-size: 26px;
}

h4 {
	font-size: 0.8em;
}

.progress-bar {
	background: #ac2629;
}

.sfb-nav {
	height: 50px;
	margin: 8px 0 8px 0;
	padding: 2px;
	width: 100%;
}

.sfb-nav .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.sfb-nav a, .sfb-nav label,
.sfb-nav select,
.sfb-nav #sfb-advantage {
	font-size: 14px;
	height: 40px;
	margin: 0 0 0 8px;
}

.sfb-nav label {
	border-bottom: 1px solid #e2e2e2;
	width: 400px;
}

.sfb-nav select, .sfb-nav #sfb-advantage {
	display: inline-block;
}

.sfb-nav #sfb-advantage {
	color: #009900;
	font-weight: bold;
	height: 40px;	
}
